.topbar__menu a {
  text-decoration: none;
  color: var(--white);
  margin: 0 40px 0 0;
  font-size: var(--font-20);
  font-weight: var(--font-medium);
  font-family: var(--font-basic);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.topbar__menu{
  background-color: var(--primary);
}
.topbar__menu a.active {
  color: var(--primary);
  font-weight: var(--font-semibold);
}
.avatar {
  background-color: var(--white) !important;
  border: 0;
  border-radius: 8px;
}
.notification{
  background-color: var(--white) !important;
  border: 0;
  border-radius: 8px;
    height: 44px;
    width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown__menu {
  right: 0 !important;
  left: auto !important;
  width: 100%;
}

.dropdown__menu .dropdownMM {
  text-decoration: none;
  color: var(--black);
  padding: 4px 16px;
  font-size: var(--font-18);
  font-weight: var(--font-medium);
  font-family: var(--font-basic);
}
.dropdown__menu .dropdownMM:hover {
  background-color: var(--primary);
  color: var(--white);
}
.dropdown__menu .dropdownMM:hover a {
  color: var(--white);
}
.dropdown__menu .dropdownMM a {
  color: var(--black);
  font-size: var(--font-18);
}
.avatar p {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.avatar::after {
  display: none !important;
}
.menuBorder {
  border-radius: 8px;
  border: 1px solid var(--gray);
  text-align: left;
  background-color: var(--white);
}
.avatar p {
  line-height: 1.25;
}
.active__menu {
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  width: 30%;
  border: 0;
  opacity: 0.9;
  border-radius: 4px;
  border-top: 3px solid var(--primary);
}
.topbar__menu {
  padding: 10px 40px 10px;
}
@media (max-width: 991px) {
  .topbar__menu {
    padding: 10px 20px;
    background-color: #000;
  }

  .active__menu {
    display: none;
  }
  .topbar__menu a {
    padding: 8px 0;
  }
  .dropdown__menu {
    position: relative !important;
    background-color: transparent;
  }
  .dropdown__menu a {
    color: var(--white) !important;
    font-size: var(--font-20);
  }
}
