.formSection {
  padding: 80px;
  border: 1px solid var(--gray);
  border-radius: 20px;
}
.formSection h2 {
  font-size: 36px;
  font-weight: var(--font-semibold);
  color: var(--black);
}
@media (max-width: 991px) {
  .formSection {
    padding: 25px;
    border: 0px solid var(--gray);
  }
  .formSection h2 {
    font-size: 24px;
  }
}
