.topbar__menu .dropdownitem {
  text-decoration: none;
  color: var(--black);
  margin: 0 40px 0 0;
  font-size: var(--font-16);
  font-weight: var(--font-medium);
  font-family: var(--font-basic);
}
.topbar__menu1 {
  background-color: #1b847a;
  padding: 10px 40px 0;
}
.topbar__menu .dropdownitem:hover {
  text-decoration: none;
  color: var(--white);
  /* margin: 0 40px 0 0; */
  background-color: var(--primary);
}
.topbar__menu .dropdownitem.active {
  color: var(--primary);
  font-weight: var(--font-semibold);
}
.avatar {
  background-color: transparent !important;
  border: 0;
  font-weight: 400;
}
.dropdown__menu {
  right: 0 !important;
  left: auto !important;
  width: 100%;
  border-radius: 8px;
  border: 0 !important;
}
.ativeBadge {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: "Monserrat-Medium", sans-serif;
  color: #fff;
  background: #1b8475;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 10px;
}

.ativeBadgeUser {
  height: 10px;
  width: 10px;
  background-color: #39b51b;
  border-radius: 50%;
  position: absolute;
  top: -1%;
  right: -1%;
}
.dropdown__menu .dropdownMM {
  text-decoration: none;
  color: var(--black);
  padding: 4px 16px;
  font-size: var(--font-18);
  font-weight: var(--font-medium);
  font-family: var(--font-basic);
}
.dropdown__menu .dropdownMM:hover {
  background-color: var(--primary);
  color: var(--white);
}
.dropdown__menu .dropdownMM:hover a {
  color: var(--white);
}
.dropdown__menu .dropdownMM a {
  color: var(--black);
  font-size: var(--font-18);
}
.avatar p {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.avatar::after {
  display: none !important;
}
.menuBorder {
  border-radius: 8px;
  border: 1px solid var(--gray);
  text-align: left;
  background-color: var(--white);
}
.avatar p {
  line-height: 1.25;
}
.active__menu {
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  width: 30%;
  border: 0;
  opacity: 0.9;
  border-radius: 4px;
  border-top: 3px solid var(--primary);
}
.topbar__menu {
  padding: 10px 80px 0;
}

@media (max-width: 1199.99px) {
  .topbar__menu {
    padding: 10px 20px 0;
  } 
}
@media (max-width: 991px) {
  .topbar__menu {
    padding: 10px 15px;
    /* background-color: #000; */
  }
  .mobileMenu {
    cursor: pointer;
    font-size: 18;
    font-family: "Monserrat-Medium" !important;
  }
  .topbar__menu1 {
    padding: 10px 20px 0;
  }
  .active__menu {
    display: none;
  }
  .topbar__menu .dropdownitem {
    padding: 8px 0;
  }
  .dropdown__menu {
    position: relative !important;
    background-color: transparent;
  }
  .dropdown__menu a {
    color: var(--white) !important;
    font-size: var(--font-20);
  }
}

.notification .notify svg {
  height: 40px;
  width: 40px;
}
.notification {
  padding: 6px;
  border-bottom: 1px solid var(--border);
  /* border-radius: 12px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.notification .heading {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
}
.nottti {
  border-radius: 12px;
  height: 49px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nottti svg{
  height: 30px;
  width: 30px;
}
.nottti svg path {
  fill: #fff;
}
.notification .time {
  font-size: 14px;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.notification .description {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.optionbutton{
  background-color: transparent;
  color: black;
}